<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%- include header.ejs %>
  <div>
    <div>
      <p>Have you ever wondered that how the other people are always so well informed about the cool events, exhibits in the city and they finding the most awesome places and restorants. blah blah</p>
    </div>
    <div>
      <div>
        <a href="/jungle/login"><button>Login</button></a>
      </div>
    </div>
  </div>
</body>
</html>