<!DOCTYPE html>
<html>
<head>
  <title>Categories</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%- include header.ejs %>
  <% table.forEach(function(cat) { %>
    <h3><a href='/jungle/<%=cat.c_id%>/topic'><%=cat.c_id%>.<%=cat.name%></a></h3>
  <% }) %>
  <form action='/jungle/categories' method='POST'>
      <label for='newcat' name='newcat' value='New Category:'>
      <input type='text' id='newcat' name='newcat' placeholder='Enter new category'></label><br>
      <button>Add Category</button>
  </form>

</body>
</html>