<!DOCTYPE html>
<html>
<head>
  <title>Categories</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="http://localhost:3000/style.css">
</head>
<body class='display'>
   <header class="pure-g unifyHeader">
    <div class="pure-u-1-1">
      <div class="pure-u-1-1 header">
        <h1 class="forum">Weekend in the Jungle</h1>
      </div>
    </div>

    <div class="pure-u-1-1">
      <nav class="pure-u-1-1 pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href='/jungle/forum' class='pure-menu-link'>Home</a></li>
          <li class="pure-menu-item"><a href='/jungle/about' class='pure-menu-link'>About</a></li>
          <li class="pure-menu-item"><a href='/jungle/categories' class='pure-menu-link'>Categories</a></li>
          <li class="pure-menu-item"><a href='/jungle/forum/topic' class='pure-menu-link'>Topics</a></li>
          <li class="pure-menu-item"><a href='/jungle/login' class='pure-menu-link'>Login</a></li>
          <li class="pure-menu-item"><a href='/jungle/contact' class='pure-menu-link'>Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class='unifyContent'>
    <div class='pure-u-1-1'>
      <div class='content'>
      <% table.forEach(function(cat) { %>
        <h3><a href='/jungle/<%=cat.c_id%>/topic'><%=cat.name%></a></h3>
      <% }) %>
      <form class='pure-form' action='/jungle/categories' method='POST'>
          <label for='newcat' name='newcat' value='New Category:'>
          <input type='text' id='newcat' name='newcat' placeholder='Enter new category'></label><br>
          <button class='pure-button'>Add Category</button>
      </form>
      </div>
    </div>
  </div>
</body>
</html>