<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class='display'>
  <header class="headerLogin">
    <div class="pure-u-1-1">
      <div class="pure-u-1-1 header">
        <h1 class="forum">Weekend in the Jungle</h1>
      </div>
    </div>

    <div class="pure-u-1-1">
      <nav id='nav' class="pure-u-1-1 pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href='/jungle/home' id='menu' class='pure-menu-link'>Home</a></li>
          <li class="pure-menu-item"><a href='/jungle/about' id='menu' class='pure-menu-link'>About</a></li>
          <li class="pure-menu-item"><a href='/jungle/categories' id='menu' class='pure-menu-link'>Categories</a></li>
          <li class="pure-menu-item"><a href='/jungle/topic' id='menu' class='pure-menu-link'>Topics</a></li>
          <li class="pure-menu-item"><a href='/jungle/login' id='menu' class='pure-menu-link'>Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <h1></h1>
   <form action='/jungle/new' method='POST'>
      <label>
        <input type='textarea' name='post' placeholder='Enter post'>
      </label>

      <button class='pure-button'>Join</button>
    </form><hr>
</body>
</html>
