<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%- include header.ejs %>
  <h1></h1>
   <form action='/jungle/new' method='POST'>
      <label>
        <input type='textarea' name='post' placeholder='Enter post'>
      </label>

      <button>Join</button>
    </form><hr>
</body>
</html>
