<!DOCTYPE html>
<html>
<head>
  <title>Topics</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%- include header.ejs %>
    <div class="pure-u-2-6">
  <% table.forEach(function(post) { %>
      <a href=""></a>Post: <%= post.post%></h3></a><br>
    </div>
    
  <% }) %>
  <form action='/jungle/topic/:t_id/new/post' method='POST'>
   <label for='username' name='username' value='Username:'>
        <input type='text' id='username' name='username' placeholder='Enter username'>
      </label><br>
      <label for='post' name='post' value='Post:'>
        <input type='textarea' id='post' name='post' placeholder='Enter post'>
      </label><br>
      <a href="/jungle/topic/:t_id/new/post"></a><button>Add post</button></a>
  </form>
</body>
</html>