<!DOCTYPE html>
<html>
<head>
  <title>New Topic</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%- include header.ejs %>
    <div>
      <h1></h1>
    </div>
  <div>
    <form action='/jungle/forum/:t_id/new/post' method='POST'>
      <label for='username' name='username' value='Username:'>
        <input type='text' id='username' name='username' placeholder='Enter username'>
      </label><br>
      <label for='post' name='post' value='Post:'>
        <input type='text' id='post' name='post' placeholder='Enter post'>
      </label><br>
      <button>Add post</button>
    </form>
  </div>

</body>
</html>